* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1vw;
  font-family: "Amatic SC", cursive;
}

#content {
  background-image: url(../busy-coffee-shop.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

#content #landing-page-text {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  text-align: center;
}

#content #landing-page-text #headline {
  font-size: 10em;
  font-weight: bolder;
  color: #ffffffd6;
  margin-bottom: 0;
  -webkit-animation: fadeInSlideALittle 0.4s ease-in forwards;
          animation: fadeInSlideALittle 0.4s ease-in forwards;
}

#content #landing-page-text #copy {
  font-size: 3.4em;
  margin-top: 0;
  color: #fff;
  display: inline-block;
  text-shadow: 0px 0px 3px black;
  -webkit-animation: fadeInSlideALittle 0.4s ease-in forwards;
          animation: fadeInSlideALittle 0.4s ease-in forwards;
  opacity: 0;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#content #menu-container {
  opacity: 0;
  -webkit-animation: fadeInSlideALittle 0.3s ease-in forwards;
          animation: fadeInSlideALittle 0.3s ease-in forwards;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 2em;
  padding: 3em 6em;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 3em;
  background-color: #ffffff6b;
  text-align: center;
}

#content #menu-container:first-child {
  border-left: 1px solid black;
}

#content #menu-container .starter-rows,
#content #menu-container .main-rows,
#content #menu-container .dessert-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3em;
  margin: 0 3em;
}

#content #menu-container #starters,
#content #menu-container #mains,
#content #menu-container #desserts {
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

#content #menu-container #starters div,
#content #menu-container #mains div,
#content #menu-container #desserts div {
  margin: 0.5em 0;
  font-family: "Arial";
  text-align: left;
}

#content #menu-container #starters h4,
#content #menu-container #mains h4,
#content #menu-container #desserts h4 {
  margin: 0.2em 0.1em;
}

#content #menu-container #starters h2,
#content #menu-container #mains h2,
#content #menu-container #desserts h2 {
  font-size: 1.8em;
}

#content #menu-container #starters {
  opacity: 0;
  -webkit-animation: fadeInWithoutSlide 0.3s ease-in 0.3s forwards;
          animation: fadeInWithoutSlide 0.3s ease-in 0.3s forwards;
}

#content #menu-container #mains {
  opacity: 0;
  -webkit-animation: fadeInWithoutSlide 0.3s ease-in 0.45s forwards;
          animation: fadeInWithoutSlide 0.3s ease-in 0.45s forwards;
}

#content #menu-container #desserts {
  opacity: 0;
  -webkit-animation: fadeInWithoutSlide 0.3s ease-in 0.6s forwards;
          animation: fadeInWithoutSlide 0.3s ease-in 0.6s forwards;
}

#content #contact-container {
  opacity: 0;
  margin-top: 1em;
  padding: 0 2em;
  background-color: #ffffff6b;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  text-align: center;
  font-size: 2em;
  -webkit-animation: fadeInSlideALittle 0.3s ease-in forwards;
          animation: fadeInSlideALittle 0.3s ease-in forwards;
}

#content #contact-container h2 {
  opacity: 0;
  -webkit-animation: fadeIn 0.3s ease-in 0.2s forwards;
          animation: fadeIn 0.3s ease-in 0.2s forwards;
}

#content #contact-container h4:nth-of-type(1) {
  opacity: 0;
  -webkit-animation: fadeIn 0.3s ease-in 0.3s forwards;
          animation: fadeIn 0.3s ease-in 0.3s forwards;
}

#content #contact-container h4:nth-of-type(2) {
  opacity: 0;
  -webkit-animation: fadeIn 0.3s ease-in 0.4s forwards;
          animation: fadeIn 0.3s ease-in 0.4s forwards;
}

#content #contact-container h4:nth-of-type(3) {
  opacity: 0;
  -webkit-animation: fadeIn 0.3s ease-in 0.5s forwards;
          animation: fadeIn 0.3s ease-in 0.5s forwards;
}

#content #contact-container h4:nth-of-type(4) {
  opacity: 0;
  -webkit-animation: fadeIn 0.3s ease-in 0.6s forwards;
          animation: fadeIn 0.3s ease-in 0.6s forwards;
}

#content #contact-container h4 {
  font-weight: lighter;
  text-align: left;
}

#content #contact-container a {
  font-weight: bold;
  padding: 0px 1em;
  text-decoration: none;
  color: black;
}

#content #contact-container a:hover {
  color: #527144;
}

#buttons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  position: absolute;
  bottom: 0;
  margin-bottom: 4em;
  height: 50px;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  right: 50%;
}

#buttons-container button {
  font-family: "Amatic SC", cursive;
  opacity: 0;
  -ms-grid-row: 2;
  grid-row: 2;
  margin: 0 0.2em;
  border-radius: 0.4em;
  border: none;
  color: #101110;
  background-color: #b5c8ac;
  -webkit-box-shadow: 0px 3px 3px black;
          box-shadow: 0px 3px 3px black;
  font-size: 3em;
}

#buttons-container button:hover {
  background-color: #768170;
}

#buttons-container button h6,
#buttons-container button img {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  vertical-align: middle;
}

#buttons-container button img:nth-of-type(3) {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#buttons-container button h6 {
  margin: 0.6em;
  margin-left: 0.1em;
  display: inline;
}

#buttons-container button:nth-of-type(1) {
  -webkit-animation: fadeIn 0.3s ease-in 0.5s forwards;
          animation: fadeIn 0.3s ease-in 0.5s forwards;
}

#buttons-container button:nth-of-type(2) {
  -webkit-animation: fadeIn 0.3s ease-in 0.55s forwards;
          animation: fadeIn 0.3s ease-in 0.55s forwards;
}

#buttons-container button:nth-of-type(3) {
  -webkit-animation: fadeIn 0.3s ease-in 0.6s forwards;
          animation: fadeIn 0.3s ease-in 0.6s forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes fadeInWithoutSlide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeInWithoutSlide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes fadeInSlideALittle {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
            transform: translate3d(0, 5%, 0);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInSlideALittle {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
            transform: translate3d(0, 5%, 0);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
/*# sourceMappingURL=stylesheet.css.map */